
.we-have {
  min-height: 450px;
  margin: 0 auto;
  margin-top: 30px;
  background: url("../img/aboutfone.jpg") center center no-repeat;
  background-size: cover;
  @media (min-width: $screen-sm) {
    min-height: 385px;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: $screen-lg) {
    margin-top: 100px;
  }

}

.about__title {
  color: $white;
  padding-top: 38px;
  margin-bottom: 38px;
@media (min-width: $screen-sm) {
    width: 100%;
    height: 55px;
  }
}

.about__title:after {
  content: '';
  border: 1px solid #fff;
  width: 20px;
  margin: 0 auto;
  width: 95px;
}

.we-have__block {
  font-size: $font-size - 2px;
  color: $white;
  line-height: 1.4;
  letter-spacing: 1.2;
  min-height: 76px;
  margin-top: 26px;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 200;
  @media (min-width: $screen-sm) {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.we-have__text {
  width: 69%;
  float: right;
  margin-right: 14px;
  text-shadow: 0 2px 1px #111;
  font-size: 14px;
  @media (min-width: $screen-sm) {
    width: auto;
  }
  @media (min-width: $screen-lg) {
    padding-left: 55px;
  }
}

.about__img {
  position: absolute;
  top: 8%;
  left: 6%;
  @media (min-width: $screen-sm) {
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  @media (min-width: $screen-sm) {
    top: -56%;
    left: 4%;
  }
}

.about__xs {
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.about__sm {
  display: none;
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.about-foto {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 400px;
  @media (min-width: $screen-sm) {
    width: 100%;
    margin-top: 55px;
    min-height: 400px;
  }
  @media (min-width: $screen-lg) {
    margin-top: 115px;
    min-height: 485px;
  }
}

.we-have__magnifier{
  position: absolute;
  top: 390%;
  left: 38%;
}

.about-foto__item {
  position: relative;
  //min-height: 400px;
  width: 70%;
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    min-height: 400px;
    margin-left: 1.5%;
    width: 32.3% !important;
      &:first-child {
        margin-left: 0;
      }
      .about-foto__item:first-child {
        margin-left: 0;
      }
}
  @media (min-width: $screen-lg) {
    min-height: 485px;
    margin-left: 4.5%;
    width: 30.3% !important;
  }
    &:hover {
      filter: brightness(60%);
      transition: linear 200ms;
    }
    &:hover {
      .we-have__magnifier {
        top: 39%;
      }
    }
}


.about-foto__img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}


