.we-have {
  min-height: 447px;
  margin: 0 auto;
  margin-top: 29px;
  background: url("../img/aboutfone.jpg") center center no-repeat;
  background-size: cover;
  @media (min-width: $screen-sm) {
    background: url("../img/aboutfone768.jpg") center center no-repeat;
    min-height: 385px;
    margin-top: 53px;
  }
  @media (min-width: $screen-lg) {
    margin-top: 100px;
    margin-right: 4px;
    background: url("../img/aboutfone.jpg") center center no-repeat;
  }
}

.we-have__all {
  @media (min-width: $screen-sm) {
    margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
  }
}

.about__title {
  color: $white;
  padding-top: 42px;
  margin-bottom: 42px;
  letter-spacing: 0.04em;
@media (min-width: $screen-sm) {
    width: 100%;
    height: 55px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
  }
@media (min-width: $screen-lg) {
    margin-left: 3px;
    padding-top: 42px;
  }
}

.about__title:after {
  content: '';
  border: 1px solid #fff;
  width: 20px;
  width: 80px;
  margin: 0 auto;
  margin-top: 4px;
}

.we-have__block {
  font-size: $font-size - 2px;
  color: $white;
  line-height: 1.5;
  min-height: 76px;
  margin-top: 26px;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 200;
  @media (min-width: $screen-sm) {
    width: 224px;
    margin-left: 22px;
  }
  @media (min-width: $screen-lg) {
    width: 396px;
    margin-left: 0;
  }
}

.we-have__block-equip {
  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-lg) {

  }
}

.we-have__block-tracks {
  @media (min-width: $screen-sm) {

  }
}

.we-have__block-trainers {
  @media (min-width: $screen-sm) {

  }
}

.we-have__text {
  width: 70%;
  float: right;
  margin-right: 13px;
  text-shadow: 0 2px 1px #111;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1.2;
  @media (min-width: $screen-sm) {
    width: fit-content;
    margin-right: 0;
    line-height: 1.3;
  }
  @media (min-width: $screen-lg) {
    font-size: $font-size;
    line-height: 1.5;
    padding-left: 40px;
  }
}

.we-have__text-equip {
  @media (min-width: $screen-sm) {
    line-height: 1.3;
    padding-right: 15px;
  }
  @media (min-width: $screen-lg) {
    margin-top: 0;
    padding-right: 70px;
    padding-left: 86px;
    letter-spacing: 0.05em;
  }
}

.we-have__text-tracks {
  margin-top: -10px;
  width: 69%;
  margin-right: 16px;
  @media (min-width: $screen-sm) {
    margin-top: 0;
    width: fit-content;
    padding-left: 15px;
    padding-right: 5px;
  }
  @media (min-width: $screen-lg) {
    padding-left: 82px;
    padding-right: 73px;
    letter-spacing: 0.052em;
  }
}

.we-have__text-trainers {
  margin-top: -4px;
  line-height: 1.3;
  margin-right: 13px;
  @media (min-width: $screen-sm) {
    margin-top: 0;
    padding-left: 30px;
    letter-spacing: 0.052em;
  }
  @media (min-width: $screen-lg) {
    padding-left: 80px;
    padding-right: 33px;
    letter-spacing: 0.052em;
  }
}

.we-have__text-768 {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.we-have__text-1200 {
  @media (min-width: $screen-phone) {
    display: none;
  }
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.about__img {
  position: absolute;
  top: 5%;
  left: 5%;
}

.about__xs {
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.about__sm {
  display: none;
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.about1{
  @media (min-width: $screen-sm) {
    left: 22.7%;
    top: -92%;
  }
  @media (min-width: $screen-lg) {
    left: 42.5%;
    top: -86%;
  }
}

.about2{
  @media (min-width: $screen-sm) {
    left: 29%;
    top: -92%;
  }
  @media (min-width: $screen-lg) {
    left: 42%;
    top: -86%;
  }
}

.about3{
  @media (min-width: $screen-sm) {
    left: 33%;
    top: -92%;
  }
  @media (min-width: $screen-lg) {
    left: 39.5%;
    top: -86%;
  }
}

.about-foto {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 400px;
  @media (min-width: $screen-sm) {
    width: 100%;
    margin-top: 54px;
    min-height: 400px;
  }
  @media (min-width: $screen-lg) {
    width: 1190px;
    margin-top: 113px;
    min-height: 485px;
  }
}

.we-have__magnifier{
  position: absolute;
  top: 390%;
  left: 38%;
}

.about-foto__item {
  position: relative;
  width: 70%;
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    min-height: 400px;
    margin-left: 5px;
    width: 243px !important;
      &:first-child {
        margin-left: 0;
      }
      .about-foto__item:first-child {
        margin-left: 0;
      }
  }
  @media (min-width: $screen-lg) {
    min-height: 485px;
    margin-left: 4.5%;
    width: 360px !important;
  }
    &:hover {
      filter: brightness(60%);
      transition: linear 200ms;
    }
    &:hover {
      .we-have__magnifier {
        top: 39%;
      }
    }
}

.about-foto__item-1 {
  @media (min-width: $screen-phone) {
    background-image: url("../img/aboutfoto1.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-sm) {
    display: block;
    background-image: url("../img/aboutfoto1-768.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-lg) {
    background-image: url("../img/aboutfoto1.jpg");
  }
}

.about-foto__item-2 {
  @media (min-width: $screen-phone) {
    background-image: url("../img/aboutfoto2.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-sm) {
    background-image: url("../img/aboutfoto2-768.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-lg) {
    background-image: url("../img/aboutfoto2.jpg");
  }
}

.about-foto__item-3 {
  @media (min-width: $screen-phone) {
    background-image: url("../img/aboutfoto3.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-sm) {
    background-image: url("../img/aboutfoto3-768.jpg");
    background-position: center center no-repeat;
    background-size: cover;
  }
  @media (min-width: $screen-lg) {
    background-image: url("../img/aboutfoto3.jpg");
  }
}

.about-foto__img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  @media (min-width: $screen-phone) {
    display: none;
  }
}


