.feedback {
  width: 96%;
  height: 555px;
  margin: 0 auto;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.79);
}

.feedback__title {
  padding-top: 24px;
}

.carousel {
  width: 76%;
  height: 350px;
  margin: 0 auto;
  margin-top: 27px;
  @media (min-width: $screen-sm) {
    margin-top: 11px;
  }
  @media (min-width: $screen-sm) {
    margin-top: 21px;
  }
}

.last {
  height: 40px;
}

.feedback__item {
  margin-top: 39px;
  width: 33.33%;
}

.feedback__img {
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
}

.feedback__name,
.feedback__prof {
  text-align: center;
  padding: 6px 5px 0px 5px;
}

.feedback__socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__text {
  width: 77%;
  margin: 0 auto;
  margin-top: 13px;
  @media (min-width: $screen-sm) {
    padding: 0 17px;
  }
  @media (min-width: $screen-lg) {
    width: 40%;
  }
}

