.feedback {
  width: 94%;
  height: 555px;
  margin: 0 auto;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.79);
  @media (min-width: $screen-lg) {
    width: 93%;
    margin-top: 106px;
  }
}

.feedback__title {
  padding-top: 24px;
  @media (min-width: $screen-sm) {
    padding-top: 44px;
  }
  @media (min-width: $screen-lg) {
    padding-top: 37px;
  }
}

.carousel {
  width: 76%;
  height: 350px;
  margin: 0 auto;
  margin-top: 27px;
  @media (min-width: $screen-sm) {
    width: 91%;
    margin-top: 38px;
  }
  @media (min-width: $screen-sm) {
    margin-top: 21px;
  }
}

.last {
  height: 40px;
  @media (min-width: $screen-sm) {
    height: 76px;
  }
  @media (min-width: $screen-lg) {
    height: 95px;
  }
}

.feedback__item {
  margin-top: 39px;
  width: 33.33%;
  font-family: 'Open Sans';
  font-size: $font-size + 2px;
}

.feedback__img {
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
}

.feedback__name,
.feedback__prof {
  text-align: center;
  padding: 6px 5px 0px 5px;
}

.feedback__socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__text {
  width: 77%;
  margin: 0 auto;
  margin-top: 13px;
  @media (min-width: $screen-sm) {
    width: 83%;
    padding: 0 17px;
  }
  @media (min-width: $screen-lg) {
    width: 50%;
  }
}

