.footer {
  background-color: $blue;
  font-size: ($font-size - 2);
  font-family: 'OpenSans';
  font-weight: 400;
  display: flex;
  @media (min-width: $screen-sm) {
    min-height: 485px;
  }
  @media (min-width: $screen-lg) {
    min-height: 470px;
  }
}

.footer__container {
  width: 100%;
  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 45px;
  }
  @media (min-width: $screen-lg) {
    margin-top: 23px;
    width: 1190px;
  }
}

#map {
  @media (min-width: $screen-sm) {
    width: 76%;
    min-height: 400px;
  }
  @media (min-width: $screen-lg) {
    width: 83%;
    min-height: 410px;
    margin-right: 4px;
  }
}

iframe {
  width: 100%;
  height: 230px;
  border: none;
  display: block;
  @media (min-width: $screen-sm) {
    min-height: 400px;
  }
  @media (min-width: $screen-sm) {
    min-height: 418px;
  }
}

.footer__contacts {
  @media (min-width: $screen-sm) {
    position: relative;
    width: 50%;
    font-size: $font-size + 2px;
  }
}

.nav-list {
  display: block;
  margin-left: 10px;
  @media (min-width: $screen-lg) {
    position: relative;
    margin-left: 0;
    font-weight: 200;
  }
}

.contacts__list {
  color: $footer-text-gray;
  margin-top: 4px;
  @media (min-width: $screen-sm) {
    margin-top: 16px;
  }
  @media (min-width: $screen-lg) {
    display: flex;
    margin-top: 0;
  }
}

.list__item {
  margin-bottom: 8px;
  font-weight: 200;
  font-size: 14px;
  @media (min-width: $screen-sm) {
    font-family: 'ProximaNova';
    font-weight: 200;
    font-size: $font-size + 2px;
    margin-left: 18px;
    margin-bottom: 12px;
  }
  @media (min-width: $screen-sm) {
    margin-left: 21px;
    letter-spacing: 0.02em;
  }
  @media (min-width: $screen-lg) {
    margin-top: 18px;
    margin-bottom: 11px;
  }
}

.list__item:before {
  content: '';
}

.nav__item {
  font-family: 'OpenSans';
  padding: 3px 0;
  @media (min-width: $screen-sm) {
    padding: 6px 0;
  }
  @media (min-width: $screen-lg) {
    padding: 8px 0;
    letter-spacing: 0.03em;
  }
}

.footer__addres:before {
  position: absolute;
  content: '';
  // display: inline-block;
  background: url("../img/spritesheet.png") 0 0 no-repeat;
  width: 11px;
  height: 16px;
  background-position: -106px -37px;
  left: 1px;
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.phone__link {
  color: $footer-text-gray;
  font-weight: 200;
}

.footer__phone{
  @media (min-width: $screen-lg) {
    margin-left: 67px;
    letter-spacing: 0.03em;
  }
}

.footer__phone:before {
  position: absolute;
  content: '';
  display: inline-block;
  background: url("../img/spritesheet.png") 0 0 no-repeat;
  width: 14px;
  height: 14px;
  background-position: -82px -37px;
  left: 1px;
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.phone-call-footer {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
    position: absolute;
    left: 51.5%;
    top: 7.7%;
  }
}

.placeholder-footer {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
    position: absolute;
    left: 0;
    top: 6%;
  }
}

.nav {
  color: $footer-text-gray;
  margin-top: 20px;
  margin-left: -8px;
  @media (min-width: $screen-lg) {
    margin-left: 0;
    margin-top: 22px;
  }
}

.nav__item {
  margin-bottom: 4px;
  @media (min-width: $screen-lg) {
    margin-bottom: 0;
  }
}

.nav__link {
  color: $footer-text-gray;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 200;
}

.footer__line {
  display: flex;
  margin: 14px 0 10px 10px;
  @media (min-width: $screen-sm) {
    width: 76%;
    margin-top: 27px;
    margin-left: 3px;
  }
  @media (min-width: $screen-sm) {
    margin-top: 33px;
    margin-left: 0;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 14px;
}

.arrowup {
  margin-left: 55%;
  @media (min-width: $screen-sm) {
  display: none;
  }
}

.arrowup-big {
  display: none;
  @media (min-width: $screen-sm) {
  display: block;
  margin-top: 31px;
  }
  @media (min-width: $screen-sm) {
  margin-top: 68px;
  }
}

.twitter, .vk, .instagram {
  display: block;
  @media (min-width: $screen-sm) {
  display: none;
  }
}

.twitter-sm-ft, .vk-sm-ft, .instagram-sm-ft {
  display: none;
  @media (min-width: $screen-sm) {
  display: block;
  }
}
