.header {
  min-height: 420px;
  margin: 0 auto;
  background-image: url("../img/header-img.jpg");
  background-repeat: no-repeat;
  background-position: -270px -5px;
  width: 100%;
  background-color: $athens-gray;
  @media (min-width: $screen-sm) {
    height: 820px;
  }
  @media (min-width: $screen-lg) {
    height: 810px;
  }
}

.header__contacts {
  display: flex;
  width: 100%;
  min-height: 20px;
  padding-top: 5px;
  background-color: $athens-gray;
}

.contacts__item-xs {
  @media (min-width: $screen-sm) {
  display: none;
  }
}

.contacts__item {
  padding-top: 5px;
  margin-right: 3px;
  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-lg) {
  padding-top: 8px;
  margin-right: 5px;
  }
}

.contacts__phone {
  margin-left: 3px;
}

.header__sprite {
  margin-left: 15px;
  margin-right: 10px;
  @media (min-width: $screen-sm) {
  margin-left: 50px;
  margin-right: 9px;
  margin-top: 3px;
  }
  @media (min-width: $screen-lg) {
  margin-top: 5px;
  }
}

.header__contacts-wrap {
  background-color: $athens-gray;
}

.contacts {
  display: none;
  @media (min-width: $screen-sm) {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  }
}

.contacts li:nth-child(odd) {
  display: none;
  @media (min-width: $screen-sm) {
  display: block;
  }
}

.main-nav__link:active {
  border-bottom: 1px solid #000;
}

.header__btn {
  display: none;
  margin-top: 0px;
  margin-left: 19px;
  padding: 6px 25px;
  border: 1px solid #111;
  background-color: #eeeef4;
  @media (min-width: $screen-sm) {
   display: none;
  }
  @media (min-width: $screen-lg) {
   display: block;
  }
}

.header__btn-sm {
  @media (min-width: $screen-phone) {
    display: block;
    margin-top: 37px;
    margin-left: 15px;
    padding: 5px 24px;
    background-color: inherit;
  }
  @media (min-width: $screen-sm) {
    display: block;
    margin-top: 41px;
    border: 1px solid #111;
    padding: 6px 25px;
    background-color: inherit;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.header__line {
  display: none;

  @media (min-width: $screen-sm) {
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.header__nav {
  margin-left: auto;
}

.main-nav__item {
  @media (min-width: $screen-sm) {
    display: inline-block;
    margin-right: 32px;
    font-family: $font-family;
    font-size: ($font-size + 2);
  }
  @media (min-width: $screen-sm) {
    margin-right: 39px;
  }
}

.main-nav__item:last-child {
  margin-right: 0;
}

.logo__img {
  background: center center no-repeat;
}

