
.header {
    height: 400px;
    margin: 0 auto ;
    background-image: url("../img/header-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $athens-gray;
    @media (min-width: $screen-sm) {
      height: 820px;
  }
  @media (min-width: $screen-lg) {
      height: 810px;
  }
}

.header__color {
  width: 100%;
  background-color: $athens-gray;
}

.header__contacts {

  width: 100%;
  background-color: $athens-gray;
}


.header__contacts-wrap {
  float: right;
  background-color: $athens-gray;
}

.contacts {
  display: flex;
  justify-content: flex-end;
}

.contacts__item {
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.header__line {
  display: none;
  @media (min-width: $screen-sm) {
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: flex-start;
  }
}

.header-nav {
  margin-left: auto;
}

.main-nav__item {
  display: inline-block;
  margin-right: 20px;
  font-family: $font-family;
  font-size: ($font-size + 2);
  @media (min-width: $screen-sm) {
    margin-right: 45px;
  }
}

.main-nav__link:focus {
  border-bottom: 1px solid #111;
  padding-bottom: 5px;
  border-bottom-width: 2px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.header__btn {
  margin-top: 10px;
  padding: 5px 25px;
  border: 1px solid #111;
  background-color: #eeeef4;
  margin-left: 25px;
  @media (min-width: $screen-sm) {
    display: none;
  }
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.header__btn-sm {
  margin-top: 40px;
  padding: 5px 25px;
  border: 1px solid #111;
  background-color: inherit;
  @media (min-width: $screen-lg) {
  display: none;
  }
}

.logo__img {
  background: center center no-repeat;
}

.description__xs {
  line-height: 1.9;
  width: 60%;
  @media (min-width: $screen-sm) {
    margin-top: 80px;
    width: 70%;
  }
}

.description__lg {
  display: none;
  width: 70%;
  @media (min-width: $screen-sm) {
    display: block;
  }
}
