.header__contacts {
  position: relative; // для .header__nav-xs
  min-height: 25px;
  color:$header-text-xs;
  // border-bottom: 1px solid #111;
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.header__nav-xs {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid #111;
  background-color: $header-menu-bgc-xs;
  color:$header-text-xs;
}

.contsacts__phone {
  margin-top: 2px;
  margin-left: -4px;
}

.kebab {
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.header__burger {
  position: absolute;
  right: 15px;
}

.main-nav__item-xs {
  padding: 6px;
}

.main-nav__link-xs {
  color:$header-text-xs;
}

.social-xs {
  margin-top: 10px;
  margin-bottom: 50px;
}

.social-xs__link {
  display: inline-block;
  margin-left: 5px;
  color:$header-text-xs;
  background-color: $header-menu-bgc-xs;
}

