.mountains__title {
  margin-top: 80px;
  @media (min-width: $screen-sm) {
    font-size: $font-size + 24px;
  }
}

.mountains__title:after {
  content: '';
  border: 1px solid #111;
  width: 20px;
  margin: 0 auto;
  width: 95px;
}

.description__xs {
  line-height: 1.7;
  width: 62%;
  margin-top: 70px;
  font-size: 18px;
  font-family: 'Open Sans';
  padding-left: 15px;
  @media (min-width: $screen-sm) {
  margin-top: 96px;
  padding-left: 15px;
  }
  @media (min-width: $screen-lg) {
  margin-top: 94px;
  padding-left: 44px;
  }
}

.mountains__description {
  display: none;
  width: 70%;
  margin-top: 0;
  line-height: 1.7;
  letter-spacing: 1.1;
  font-family: 'Open Sans';
  @media (min-width: $screen-sm) {
    display: block;
    padding-left: 15px;
    line-height: 1.9;
  }
  @media (min-width: $screen-lg) {
    padding-left: 44px;
  }
}

.description__lg {
  @media (min-width: $screen-phone) {
  display: none;
  margin-top: 0;
  }
  @media (min-width: $screen-sm) {
  display: block;
  margin-top: 0;
  line-height: 1,5;
  }
  @media (min-width: $screen-lg) {
  width: 58%;
  display: block;
  }
}

