// .page-header {
//   background-color: #ff0;

  // @media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
  //   background-color: #f00;
  // }

  // @media (min-width: $screen-md) {
  //   background-color: #00f;
  // }
//}

.mountains__title {
  margin-top: 40px;
}

.mountains__description {
  line-height: 1.9;
}

@media (min-width: $screen-phone) {
    .description__lg {
      display: none;
      margin-top: 0;
    }
}

  @media (min-width: $screen-lg) {
    .description__lg {
      width: 50%;
      margin-top: 0;
      line-height: 1,5;
    }
  }
