// .page-header {
//   background-color: #ff0;

  // @media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {
  //   background-color: #f00;
  // }

  // @media (min-width: $screen-md) {
  //   background-color: #00f;
  // }
//}

.mountains__title {
  margin-top: 64px;
}

.description__xs {
  line-height: 1.7;
  width: 58%;
  margin-top: 73px;
}

.mountains__description {
  display: none;
  width: 70%;
  margin-top: 0;
  line-height: 1.7;
  letter-spacing: 1.1;
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.description__lg {
  @media (min-width: $screen-phone) {
  display: none;
  margin-top: 0;
  }
  @media (min-width: $screen-sm) {
  display: block;
  margin-top: 0;
  line-height: 1,5;
  }
  @media (min-width: $screen-lg) {
  width: 58%;
  display: block;
  }
}

