.page-header__contacts {
  width: 100%;
  float: right;
  position: relative;
  margin: 0 auto;
  background-color: $athens-gray;
}
.page-header__contacts-wrap {
  float: right;
  background-color: $athens-gray;
}

.contacts {
  float: right;
}

.contacts__time, .contacts__phone, .contacts__location {
  display: inline-block;
}

.logo {
  width: 10%;
  float: left;
  position: absolute;
}

.page-header-nav {
  width: 40%;
  float: right;
}

.page-header-nav {

}

.main-nav__item {
  display: inline-block;
}

.page-header__logo {

}

.logo__img {
  background: center center no-repeat;
  position: relative;
  left: -15%;
  top: 15%;
}
