.price {
  background: url("../img/feedback-fone.jpg") 0 23% no-repeat;
  background-size: cover;
}
.price__title {
  margin-top: 115px;
}

.price__age {
  margin-top: 55px;
}

.row {
  display: flex;
  justify-content: space-between;
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.col {
  flex: 1 1 auto;
}

.price__total {
  height: 53px;
  background-color: $gray-price;
  align-items: center;
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.total-sum {
  text-align: center;
}

.price__trainer, .price__hour {
  font-size: $font-size - 6px;
}

.price__trainer {
  letter-spacing: 1.05px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Open Sans';
  margin-top: 5px;
}

.price__hour {
  letter-spacing: 1.2px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Open Sans';
}

.price__btn {
  color: $white;
  background-color: $red-button;
  padding: 16px 37px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  text-transform: uppercase;
  @media (min-width: $screen-sm) {
    margin: 0;
  }
}

.btn__text {
  font-family: $font-family;
  font-size: 300;
  letter-spacing: 1.1px;
}

.price__safety {
  margin-top: 10px;
  text-decoration: underline;
  text-align: center;
}

.table {
  display: none;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans';
  font-size: $font-size + 2px;
  font-weight: 200;
  // opacity: 0.8;
  @media (min-width: $screen-sm) {
    display: table;
    margin-top: 55px;
  }
  @media (min-width: $screen-lg) {
    display: table;
    margin-top: 34px;
  }
}

.table__age {
  width: 33.333%;
  text-align: center;
  color: $font-color-tracks;
  background-color: $shuttle-gray;
  font-weight: 200;
  @media (min-width: $screen-lg) {
    font-size: $font-size + 2px;
  }
}

.table__time {
  padding: 17px 0;
  @media (min-width: $screen-sm) {
    font-size: $font-size;
  }
  @media (min-width: $screen-lg) {
    font-size: $font-size + 2px;
  }
}

.table__row-3 {
  background-color: $three-hours;
}

.table__row-12 {
  background-color: $twelve-hours;
}

.trainer-time {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table__operator {
  background-color: #f1f1f1;
  // letter-spacing: 3px;
  padding-left: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.table__operator-cost {
  font-weight: 200;
}

td {
  text-align: center;
  vertical-align: middle;
}

tr, th, td {
  // border: 1px solid #000;
  // border: transparent;
}

.table__row {
  @media (min-width: $screen-sm) {
    height: 60px;
  }
  @media (min-width: $screen-lg) {
    height: 59px;
  }
}

.age-description {
  text-transform: uppercase;
}

.age-description-sm {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.age-description-lg {
  @media (min-width: $screen-sm) {
    display: none;
  }
  @media (min-width: $screen-lg) {
    display: block;
  }
}

.table__trace {
  color: $font-color-tracks;
  background-color: $blue;
  opacity: 0.8;
  text-transform: uppercase;
  @media (min-width: $screen-sm) {
    width: 50%;
    padding: 17px 0;
  }
  @media (min-width: $screen-lg) {
    width: 33.333%;
  }
}

.table__price:hover {
  border: 2px solid #000;
}

.table__price:active {
  border: 2px solid $red-border;
}

.buttons {
  @media (min-width: $screen-sm) {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
  }
}

.price__list {
  position: relative;
  padding-top: 55px;
  font-family: 'Open Sans';
  font-weight: 100;
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.price__list ul {
  margin-top: 20px;
  margin-bottom: 0;
}

.grid {
  position: absolute;
  width: 100%;
  display: none;
}

// .price__list > li:hover .grid{
//   display: block;
// }

.price__list li li {
  color: $font-color-tracks;
  background-color: $blue;
  padding: 20px 0;
}

.price__list-item {
  position: relative;
  display: block;
  padding: 20px 0;
  text-align: center;
  font-family: 'Open Sans';
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: -1px;
}

.price__list-item:after {
  content:'';
    position: absolute;
    top: 20px;
    right: 10px;
  @include sprite($arrowprice);

  // &:active {
  //   transform: rotate(90deg);
  // }
}

.price__list-item .active:after {
  transform: rotate(90deg);
}

// .price__list-item:after:active {
//   content:'';
//     position: absolute;
//     top: 20px;
//     right: 10px;
//   @include sprite($arrowprice);
// }


.total-text {
  padding-left: 15px;
  font-size: 16px;
  font-family: 'Open Sans';
}
