
.tracks {
    background-image: url("../img/track-fone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 420px;
    @media (min-width: $screen-sm) {
      background-image: url("../img/track-fone768.jpg");
     min-height: 730px;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  @media (min-width: $screen-lg) {
     min-height: 800px;
  }
}

.tracks__title {
  color: $white;
  padding-top: 25px;
  @media (min-width: $screen-sm) {
     padding-top: 11px;
  }
}

.tracks__title:after {
  border: 1px solid #fff;
}

.tracks__list {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 36px;
  @media (min-width: $screen-sm) {
    width: 91%;
    margin: 0 auto;
    margin-top: 54px;
  }
  @media (min-width: $screen-lg) {
    width: 1160px;
    margin: 0 auto;
    margin-top: 26px;
  }
}

.track-card {
  position: relative;
  font-family: 'OpenSans';
  font-size: $font-size;
  color: $font-color-tracks;
    @media (min-width: $screen-sm) {
      vertical-align: top;
      // width: 27%;
      margin-left: 10px;
      margin-right: 9px;
      &:last-child {
        // margin-right: 1px;
      }
    }
    @media (min-width: $screen-lg) {
      width: 215px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      // &:first-child {
      //   margin-left: 10px;
      // }
      &:hover {
        box-shadow: 0px 0px 20px 1px #111;
        transition: 300ms;
      }
    }
}

@media (min-width: $screen-lg) {
    .track-card:nth-child(even) {
      margin-top: 85px;
    }
    .track-card:nth-child(odd) {
      margin-top: 10px;
    }
  }

// .track-card__odd .track-card__title {
//   opacity: 0.7;
// }

// .track-card__odd .track-card__text {
//   opacity: 0.7;
// }

.track-card-inner {
  margin: 0 auto;
  @media (min-width: $screen-sm) {
  width: 211px;
  }
}

.mountain {
  position: absolute;
  top: 57%;
  left: 9.6%;
  @media (min-width: $screen-xs) {
  top: 59.3%;
  left: 33%;
  }
  @media (min-width: $screen-sm) {
  top: 12.3%;
  left: 14%;
  }
  @media (min-width: $screen-md) {
  top: 12.3%;
  left: 24%;
  }
  @media (min-width: $screen-lg) {
  top: 12%;
  left: 9%;
  }
}

.avatar {
  position: absolute;
  top: 79%;
  left: 12%;
  @media (min-width: $screen-xs) {
  top: 77.3%;
  left: 35%;
  }
  @media (min-width: $screen-sm) {
  top: 15.8%;
  left: 17.7%;
  }
  @media (min-width: $screen-md) {
  top: 16%;
  left: 26%;
  }
  @media (min-width: $screen-lg) {
  top: 17%;
  left: 16%;
  }
}

.track-card__item {
  width: 100%;
  height: 320px;
  @media (min-width: $screen-sm) {
    margin-top: -1px;
    margin-bottom: -3px;
    height: 327px;
  }
}

.track-card__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @media (min-width: $screen-sm) {
  position: static;
  background-color: $blue;
  min-height: 145px;
  }
}

.title__item_number {
  font-family: $font-family;
  font-size: ($font-size + 14);
  font-weight: 600;
  padding-top: 20px;
  text-shadow: 0 3px 3px #000;
}

.title__item_height {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.title__item_age {
  padding-left: 20px;
}

.track-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title__item {
  text-align: center;
  text-shadow: 0 3px 3px #000;
}

.track-card__description {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0 3px 3px #000;
  z-index: 10;
  @media (min-width: $screen-sm) {
    position: static;
    min-height: 155px;
    background-color: $blue;
    position: relative;
  }
  @media (min-width: $screen-sm) {
    min-height: 140px;
    padding-top: 15px;
  }
}

@media (min-width: $screen-sm) {
  .track-card__text:nth-child(2n){
  // display: table-cell;
  padding-top: 50px;
  text-align: center;
  line-height: 1.3;
}
  }

.track-card__text {
  padding: 10px 5px 5px 5px;
  text-align: center;
  line-height: 1.3;
  text-shadow: 0 2px 1px #000;
  font-family: 'Open Sans';
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $blue;
  opacity: 0.7;
  @media (min-width: $screen-sm) {
    display: none;
  }
}

.slick-track {
  width: 100%;
  height: 100%;
}
