
.tracks {
    background-image: url("../img/track-fone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 800px;
}

.tracks__title {
  color: $white;
}

.tracks__list {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  @media (min-width: $screen-sm) {
    width: 96%;
  }
}

.track-card {
  float: left;
  vertical-align: top;
  margin-left: 10px;
  font-family: 'OpenSans';
  font-size: $font-size;
  color: $font-color-tracks;
  @media (min-width: $screen-sm) {
    width: 27%;
    margin-left: 2%;
  }
  @media (min-width: $screen-lg) {
    width: 18%;
    margin-left: 2.5%;
  }
}

.track-card:first-child {
  margin-left: 0;
}

@media (min-width: $screen-lg) {
    .track-card:nth-child(even) {
      margin-top: 100px;
    }
  }
.track-card__odd .track-card__title {
  opacity: 0.7;
}

.track-card__odd .track-card__text {
  opacity: 0.7;
}

.track-card__item {
  width: 100%;
  margin-bottom: -3px;
}

.track-card__title {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  @media (min-width: $screen-sm) {
  position: static;
  background-color: $blue;
  min-height: 145px;
  }
}

.title__item_number {
  font-family: $font-family;
  font-size: ($font-size + 14);
  font-weight: 600;
}

.track-card__img {
  width: 100%;
  background-position: center;
}

.title__item {
  text-align: center;
}

.track-card__text {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  @media (min-width: $screen-sm) {
    position: static;
    min-height: 155px;
    background-color: $blue;
  }
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3a424a;
  opacity: 0.6;
  @media (min-width: $screen-sm) {
    display: none;
  }
}
