body {
  font-family: $font-family;
  color: $text-color;
  font-size: $font-size;
}

.container {
  width: 92%;
  margin: 0 auto;
  @media (min-width: $screen-sm) {
    width: 96%;
  }
  @media (min-width: $screen-lg) {
    width: 1200px;
  }
}

.title {
  font-family: 'ProximaNova';
  font-size: $font-size + 24px;
  text-align: center;
  font-weight: 800;
}

.title:after {
  display: block;
}

.title:after {
  content: '';
  border: 1px solid #000;
  width: 20px;
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}
