// Screen
$screen-phone:                320px;
$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

// Font
$text-color:                  #000;
$font-family:                 'ProximaNova-Bold', 'Open Sans', sans-serif;
$font-size:                   16px;

// Colors
//tracks and footer
$blue:                         #22313f;
$athens-gray:                  #e6e6ef;

//backgground
$white:                        #ffffff;

//price table
$shuttle-gray:                 #5b6671;
$gallery:                      #f0f0f0;

//other
$red-button:                   #8b1e1e;
$red-border:                   #960000;
