// Screen
$screen-phone:                320px;
$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

// Font
$text-color:                  #111;
$font-family:                 'ProximaNova', 'Open Sans', sans-serif;
$font-size:                   16px;

// Colors
//tracks and footer
$blue:                         #22313f;
$athens-gray:                  #e6e6ef;
$font-color-tracks:            #c7c7d3;
$img-color:                    #404c56;

//footer
$blue:                         #22313f;
$footer-text-gray:             #9096a4;

//background
$white:                        #ffffff;

//price table
$shuttle-gray:                 #5b6671;
$three-hours:                  #f0f0f0;
$twelve-hours:                 #f5f5f5;
$color-operator:               #f1f1f1;

//other
$red-button:                   #8b1e1e;
$red-border:                   #960000;

//background color price__total
$gray-price:                   #f1f1f1;

//arrows
$arrows:                       #8a0909;

// выпадающее меню в хедере для 320px
$header-menu-bgc-xs:          #e9e9f1;
$header-text-xs:              #22313f;
